.container {
    display: grid;
    grid-auto-flow: row;
}
.container .row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
}
.photos {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
    background: #486ca7;
    border: 5px solid black;
    box-sizing: border-box;
    padding: 3px;
}
.photos.dragover {
    background: #879bb4;
}
.photos .photo {
    padding: 3px;
    background: #6fa4ff;
}

.photos .photo h3 {
    color: white;
    text-transform: capitalize;
}
.photos .photo .link {
    display: block;
    padding: 5px 0;
}
.photos .photo .photo-thumb .thumbnail {
    height: 100%;
    object-fit: fill;
}
.photos .photo .photo-thumb {
    max-height: 60px;
    height: 100%;
}

